<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">
        <span><strong>user management</strong></span>
        <span style="font-size: 8pt;">(github.com/tanpugi)</span>
      </a>
    </div>
      <ul class="nav navbar-nav">
        <li><a (click)="page = 'create'" href="/#">Create User</a></li>
        <li><a (click)="page = 'search'" href="/#">Search</a></li>
      </ul>
  </div>
</nav>

<app-user *ngIf="page === 'create'"></app-user>
<app-usersearch *ngIf="page === 'search'"></app-usersearch>